@model DJ.Models.ViewEntity.LoginVEntity
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginOut</title>
</head>
<body>
    <div> 
        @Html.CheckBoxFor(o=>o.IsKeep)
    </div>
</body>
</html>
